body {
    background-image: url("patrick-tomasso-lZbRV_a4Yxg-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}



.delete,  {
    margin-left: 40px;
    height: 25px;
}

.btndelete, .btnedit, .btnadd {
    background-color: rgb(20,120,200);
    height: 25px;
    width:100px;
    color:white;
}

.panel {
    padding-right: 50px;
    background-color: rgb(0,0,0,0.5);
    
    padding-top: 20px;
}

.gr {
    border-color:wheat;
    color:black;
    width:600px;
    text-align:center;
}

.txtedit, .add {
    margin-left: 40px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: white;
    background-color: rgb(0,0,0,0);
    margin-top: 10px;
    width:150px;;
}

.head {
    
    position: center;
    
    color: white;

}


  
.Page {
    background-color: blue;
}

.btnDB {
    background-color: rgb(20,120,200);
    height: 25px;
    width: 100px;
    color: white;
    margin-right:50px;
}

